<% content_for :sidebar do %>
      <%= render 'layouts/sidebars/sidebar_show_familyburden' %>
 <% end %>

 <p id="notice"><%= notice %></p>
<h1>Cargas familiares de <%=@family_burden.worker.first_name %> <%=@family_burden.worker.last_name1 %></h1>
<p>
  <strong>Rut:</strong>
  <%= @family_burden.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @family_burden.name %>
</p>
