<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<br>
<%= link_to 'Nuevo Cliente', new_client_path %>
<br>
<br>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.client_rut %></td>
        <td><%= client.name %></td>
        <td><%= link_to 'Mostrar', client %>
        <%= link_to 'Editar', edit_client_path(client) %>
        <%= link_to 'Borrar', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
