<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre Cliente:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Rut Cliente:</strong>
  <%= @client.client_rut %>
</p>
<br>
<%= link_to 'Crear Empresa', new_client_company_path(@client) %>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Volver', clients_path %>

<table>
  <thead>
    <tr>
      <th>Rut Empresa</th>
      <th>Nombre Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client.companies.each do |company| %>
      <tr>
        <td><%= company.taxpayer_id_company %></td>
        <td><%= company.business_name %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
