<%= form_with(model: remuneration, url: worker_remunerations_path(params[:worker_id])) do |form| %>
  <% if remuneration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(remuneration.errors.count, "error") %> prohibited this remuneration from being saved:</h2>

      <ul>
      <% remuneration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :month, id: :remuneration_month %>
  </div>

  <div class="field">
    <%= form.label :nombre_empresa %>
    <%= form.text_field :business_name, value: @worker.company_details[:name], id: :remuneration_business_name %>
  </div>

  <div class="field">
    <%= form.label :rut_empresa %>
    <%= form.text_field :taxpayer_id_company, value: @worker.company_details[:rut], id: :remuneration_taxpayer_id_company %>
  </div>

  <div class="field">
    <%= form.label :rut_trabajador %>
    <%= form.text_field :worker_rut, value: @worker.rut, id: :remuneration_worker_rut %>
  </div>

  <div class="field">
    <%= form.label :nombre_trabajador %>
    <%= form.text_field :worker_name, value: @worker.full_name, id: :remuneration_worker_name %>
  </div>

  <div class="field">
    <%= form.label :nombre_AFP %>
    <%= form.text_field :pension_fund_name, value: @worker.pension_fund.name, id: :remuneration_pension_fund_name %>
  </div>

  <div class="field">
    <%= form.label :descuento_AFP %>
    <%= form.text_field :pension_fund_deduction, value: @worker.pension_fund.name, id: :remuneration_pension_fund_deduction %>
  </div>

  <div class="field">
    <%= form.label :nombre_Isapre %>
    <%= form.text_field :health_plan_name, value: @worker.health_plan.name, id: :remuneration_health_plan_name %>
  </div>

  <div class="field">
    <%= form.label :descuento_Isapre %>
    <%= form.text_field :health_plan_deduction, value: @worker.health_plan.deduction, id: :remuneration_health_plan_deduction %>
  </div>

  <div class="field">
    <%= form.label :Ausencias %>
    <%= form.number_field :absence, id: :remuneration_absence %>
  </div>

  <div class="field">
    <%= form.label :Cargas_familiares %>
    <%= form.number_field :family_burden, value: @worker.family_burdens.size, id: :remuneration_family_burden %>
  </div>

<h3>Haberes - Imponibles</h3>

  <div class="field">
    <%= form.label :Sueldo_base %>
    <%= form.number_field :base_salary, value: @worker.base_salary.amount, id: :remuneration_base_salary %>
  </div>

  <div class="field">
    <%= form.label :Horas_extras %>
    <%= form.number_field :extra_hour, id: :remuneration_extra_hour %>
  </div>

  <div class="field">
    <%= form.label :Gratificación_legal %>
    <%= form.number_field :legal_bonus, id: :remuneration_legal_bonus %>
  </div>

  <div class="field">
    <%= form.label :Otros_bonos %>
    <%= form.number_field :bonus, id: :remuneration_bonus %>
  </div>

  <h3>Haberes - No Imponibles</h3>

  <div class="field">
    <%= form.label :Asignación_de_colación %>
    <%= form.number_field :food_allowance, id: :remuneration_food_allowance %>
  </div>

  <div class="field">
    <%= form.label :Asignación_de_movilización %>
    <%= form.number_field :transportation_allowance, id: :remuneration_transportation_allowance %>
  </div>

  <h3>Descuentos - Legales</h3>

  <div class="field">
    <%= form.label :pension_fund_discount %>
    <%= form.number_field :pension_fund_discount, value: remuneration.calculate_pension_fund_discount, id: :remuneration_pension_fund_discount %>
  </div>

  <div class="field">
    <%= form.label :health_discount %>
    <%= form.number_field :health_discount, value: remuneration.calculate_health_plan_discount, id: :remuneration_health_discount %>
  </div>

  <div class="field">
    <%= form.label :unemployment_insurance %>
    <%= form.number_field :unemployment_insurance, value: remuneration.calculate_unemployment_insurance_discount, id: :remuneration_unemployment_insurance %>
  </div>

  <div class="field">
    <%= form.label :unique_tax_discount %>
    <%= form.number_field :unique_tax_discount, id: :remuneration_unique_tax_discount %>
  </div>

  <h3>Otros Descuentos</h3>

  <div class="field">
    <%= form.label :advance_payment_discount %>
    <%= form.number_field :advance_payment_discount, id: :remuneration_advance_payment_discount %>
  </div>

  <div class="field">
    <%= form.label :advance_payment %>
    <%= form.number_field :advance_payment, id: :remuneration_advance_payment %>
  </div>

  <div class="field">
    <%= form.label :worker_id %>
    <%= form.text_field :worker_id, id: :remuneration_worker_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
