<%= form_with(model: remuneration, url: worker_remuneration_path(params[:worker_id], remuneration))) do |form| %>
  <% if remuneration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(remuneration.errors.count, "error") %> prohibited this remuneration from being saved:</h2>

      <ul>
      <% remuneration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :month %>
    <%= form.date_select :month, id: :remuneration_month %>
  </div>

  <div class="field">
    <%= form.label :business_name %>
    <%= form.text_field :business_name, id: :remuneration_business_name %>
  </div>

  <div class="field">
    <%= form.label :taxpayer_id_company %>
    <%= form.text_field :taxpayer_id_company, id: :remuneration_taxpayer_id_company %>
  </div>

  <div class="field">
    <%= form.label :worker_rut %>
    <%= form.text_field :worker_rut, id: :remuneration_worker_rut %>
  </div>

  <div class="field">
    <%= form.label :worker_name %>
    <%= form.text_field :worker_name, id: :remuneration_worker_name %>
  </div>

  <div class="field">
    <%= form.label :pension_fund_name %>
    <%= form.text_field :pension_fund_name, id: :remuneration_pension_fund_name %>
  </div>

  <div class="field">
    <%= form.label :pension_fund_deduction %>
    <%= form.text_field :pension_fund_deduction, id: :remuneration_pension_fund_deduction %>
  </div>

  <div class="field">
    <%= form.label :health_plan_name %>
    <%= form.text_field :health_plan_name, id: :remuneration_health_plan_name %>
  </div>

  <div class="field">
    <%= form.label :health_plan_deduction %>
    <%= form.text_field :health_plan_deduction, id: :remuneration_health_plan_deduction %>
  </div>

  <div class="field">
    <%= form.label :base_salary %>
    <%= form.number_field :base_salary, id: :remuneration_base_salary %>
  </div>

  <div class="field">
    <%= form.label :absence %>
    <%= form.number_field :absence, id: :remuneration_absence %>
  </div>

  <div class="field">
    <%= form.label :extra_hour %>
    <%= form.number_field :extra_hour, id: :remuneration_extra_hour %>
  </div>

  <div class="field">
    <%= form.label :family_burden %>
    <%= form.number_field :family_burden, id: :remuneration_family_burden %>
  </div>

  <div class="field">
    <%= form.label :taxable %>
    <%= form.number_field :taxable, id: :remuneration_taxable %>
  </div>

  <div class="field">
    <%= form.label :bonus %>
    <%= form.number_field :bonus, id: :remuneration_bonus %>
  </div>

  <div class="field">
    <%= form.label :advance_payment %>
    <%= form.number_field :advance_payment, id: :remuneration_advance_payment %>
  </div>

  <div class="field">
    <%= form.label :tax_base %>
    <%= form.number_field :tax_base, id: :remuneration_tax_base %>
  </div>

  <div class="field">
    <%= form.label :food_allowance %>
    <%= form.number_field :food_allowance, id: :remuneration_food_allowance %>
  </div>

  <div class="field">
    <%= form.label :transportation_allowance %>
    <%= form.number_field :transportation_allowance, id: :remuneration_transportation_allowance %>
  </div>

  <div class="field">
    <%= form.label :non_tax_base %>
    <%= form.number_field :non_tax_base, id: :remuneration_non_tax_base %>
  </div>

  <div class="field">
    <%= form.label :total_legal_discount %>
    <%= form.number_field :total_legal_discount, id: :remuneration_total_legal_discount %>
  </div>

  <div class="field">
    <%= form.label :pension_fund_discount %>
    <%= form.number_field :pension_fund_discount, id: :remuneration_pension_fund_discount %>
  </div>

  <div class="field">
    <%= form.label :health_discount %>
    <%= form.number_field :health_discount, id: :remuneration_health_discount %>
  </div>

  <div class="field">
    <%= form.label :unique_tax_discount %>
    <%= form.number_field :unique_tax_discount, id: :remuneration_unique_tax_discount %>
  </div>

  <div class="field">
    <%= form.label :unemployment_insurance %>
    <%= form.number_field :unemployment_insurance, id: :remuneration_unemployment_insurance %>
  </div>

  <div class="field">
    <%= form.label :total_legal_discount %>
    <%= form.number_field :total_legal_discount, id: :remuneration_total_legal_discount %>
  </div>

  <div class="field">
    <%= form.label :advance_payment_discount %>
    <%= form.number_field :advance_payment_discount, id: :remuneration_advance_payment_discount %>
  </div>

  <div class="field">
    <%= form.label :total_other_discount %>
    <%= form.number_field :total_other_discount, id: :remuneration_total_other_discount %>
  </div>

  <div class="field">
    <%= form.label :total_asset %>
    <%= form.number_field :total_asset, id: :remuneration_total_asset %>
  </div>

  <div class="field">
    <%= form.label :total_discount %>
    <%= form.number_field :total_discount, id: :remuneration_total_discount %>
  </div>

  <div class="field">
    <%= form.label :net_pay %>
    <%= form.number_field :net_pay, id: :remuneration_net_pay %>
  </div>

  <div class="field">
    <%= form.label :worker_id %>
    <%= form.text_field :worker_id, id: :remuneration_worker_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
