<% content_for :sidebar do %>
      <%= render 'layouts/sidebars/sidebar_index_remuneration' %>
 <% end %>

<p id="notice"><%= notice %></p>

<h1>Liquidaciones</h1>
<h2><%= @worker.first_name %> <%= @worker.last_name1 %> <%= @worker.last_name2 %></h2>

<br>
<br>
<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Mes</th>
      <th>Sueldo Base</th>
      <th>Total Haberes</th>
      <th>Sueldo Líquido</th>
      <th>Total Descuentos</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @remunerations.each do |remuneration| %>
      <tr>
        <td><%= months_to_string remuneration.month.month %> <%= remuneration.month.year%></td>
        <td><%= remuneration.base_salary %></td>
        <td><%= remuneration.total_asset %></td>
        <td><%= remuneration.total_discount %></td>
        <td><%= remuneration.net_pay %></td>
        <td><%= link_to 'Mostrar', worker_remuneration_path(remuneration.worker, remuneration) %>
        <%= link_to 'Editar', edit_worker_remuneration_path(remuneration.worker ,remuneration) %>
        <%= link_to 'Borrar', worker_remuneration_path(remuneration.worker, remuneration), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
