<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @remuneration.month %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @remuneration.business_name %>
</p>

<p>
  <strong>Taxpayer id company:</strong>
  <%= @remuneration.taxpayer_id_company %>
</p>

<p>
  <strong>Worker rut:</strong>
  <%= @remuneration.worker_rut %>
</p>

<p>
  <strong>Worker name:</strong>
  <%= @remuneration.worker_name %>
</p>

<p>
  <strong>Pension fund name:</strong>
  <%= @remuneration.pension_fund_name %>
</p>

<p>
  <strong>Pension fund deduction:</strong>
  <%= @remuneration.pension_fund_deduction %>
</p>

<p>
  <strong>Health plan name:</strong>
  <%= @remuneration.health_plan_name %>
</p>

<p>
  <strong>Health plan deduction:</strong>
  <%= @remuneration.health_plan_deduction %>
</p>

<p>
  <strong>Base salary:</strong>
  <%= @remuneration.base_salary %>
</p>

<p>
  <strong>Absence:</strong>
  <%= @remuneration.absence %>
</p>

<p>
  <strong>Extra hour:</strong>
  <%= @remuneration.extra_hour %>
</p>

<p>
  <strong>Family burden:</strong>
  <%= @remuneration.family_burden %>
</p>

<p>
  <strong>Taxable:</strong>
  <%= @remuneration.taxable %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @remuneration.bonus %>
</p>

<p>
  <strong>Advance payment:</strong>
  <%= @remuneration.advance_payment %>
</p>

<p>
  <strong>Tax base:</strong>
  <%= @remuneration.tax_base %>
</p>

<p>
  <strong>Food allowance:</strong>
  <%= @remuneration.food_allowance %>
</p>

<p>
  <strong>Transportation allowance:</strong>
  <%= @remuneration.transportation_allowance %>
</p>

<p>
  <strong>Non tax base:</strong>
  <%= @remuneration.non_tax_base %>
</p>

<p>
  <strong>Total legal discount:</strong>
  <%= @remuneration.total_legal_discount %>
</p>

<p>
  <strong>Pension fund discount:</strong>
  <%= @remuneration.pension_fund_discount %>
</p>

<p>
  <strong>Health discount:</strong>
  <%= @remuneration.health_discount %>
</p>

<p>
  <strong>Unique tax discount:</strong>
  <%= @remuneration.unique_tax_discount %>
</p>

<p>
  <strong>Unemployment insurance:</strong>
  <%= @remuneration.unemployment_insurance %>
</p>

<p>
  <strong>Total legal discount:</strong>
  <%= @remuneration.total_legal_discount %>
</p>

<p>
  <strong>Advance payment discount:</strong>
  <%= @remuneration.advance_payment_discount %>
</p>

<p>
  <strong>Total other discount:</strong>
  <%= @remuneration.total_other_discount %>
</p>

<p>
  <strong>Total asset:</strong>
  <%= @remuneration.total_asset %>
</p>

<p>
  <strong>Total discount:</strong>
  <%= @remuneration.total_discount %>
</p>

<p>
  <strong>Net pay:</strong>
  <%= @remuneration.net_pay %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @remuneration.worker %>
</p>

<%= link_to 'Edit', edit_worker_remuneration_path(@remuneration.worker, @remuneration) %> |
<%= link_to 'Back', worker_remunerations_path %>
