<% content_for :sidebar do %>
      <%= render 'layouts/sidebars/sidebar_show_remuneration' %>
 <% end %>

<p id="notice"><%= notice %></p>

<h1>Liquidación de Sueldo</h1>
<h3>Mes: <%= months_to_string(@remuneration.month.month)%> <%= @remuneration.month.year%></h3>
<p>

</p>

<table>
  <tr>
    <th>Empresa:</th>
    <th>Rut Empresa:</th>
  </tr>
  <tr>
    <td><%= @remuneration.business_name %></td>
    <td><%= @remuneration.taxpayer_id_company %></td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>Rut:</th>
    <th>Trabajador:</th>
  </tr>
  <tr>
    <td><%= @remuneration.worker_rut %></td>
    <td><%= @remuneration.worker_name %></td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>AFP:</th>
    <th>Isapre:</th>
  </tr>
  <tr>
    <td><%= @remuneration.pension_fund_name %></td>
    <td><%= @remuneration.health_plan_name %></td>
  </tr>
  <tr>
    <td><%= @remuneration.pension_fund_deduction %></td>
    <td><%= @remuneration.health_plan_deduction %></td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>Dias Trabajados</th>
    <th>Horas Extras</th>
    <th>Cargas</th>
    <th>Imponible</th>
    <th>Tributable</th>
  </tr>
  <tr>
    <td><%= @remuneration.calculate_assistance %></td>
    <td><%= @remuneration.extra_hour %></td>
    <td><%= @remuneration.family_burden %></td>
    <td><%= @remuneration.tax_base %></td>
    <td><%= @remuneration.taxable %></td>
  </tr>

</table>

<br>

<table>
  <tr>
    <th colspan="2">Haberes</th>
    <th colspan="2">Descuentos</th>
  </tr>
  <tr>
    <td>Sueldo Base</td>
    <td><%= @remuneration.base_salary %></td>
    <td>Previsión</td>
    <td><%= @remuneration.pension_fund_discount %></td>
  </tr>
  <tr>
    <td>Horas Extra 50%</td>
    <td><%= @remuneration.extra_hour %></td>
    <td>Salud</td>
    <td><%= @remuneration.health_discount %></td>
  </tr>
  <tr>
    <td>Gratificación Legal</td>
    <td><%= @remuneration.legal_bonus %></td>
    <td>Impuesto Único</td>
    <td><%= @remuneration.unique_tax_discount %></td>
  </tr>
  <tr>
    <td>Anticipos</td>
    <td><%= @remuneration.advance_payment %></td>
    <td>Seguro de Cesantía</td>
    <td><%= @remuneration.unemployment_insurance %></td>
  </tr>
  <tr>
    <td>Otros Bonos</td>
    <td><%= @remuneration.bonus %></td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <th>Total Imponible</th>
    <td><%= @remuneration.tax_base %></td>
    <th>Total Descuentos Legales</th>
    <td><%= @remuneration.total_legal_discount %></td>
  </tr>
  <tr >
    <td colspan="4"></td>
  </tr>
  <tr>
    <td>Asginación de Colación</td>
    <td><%= @remuneration.food_allowance %></td>
    <td>Descuento por Anticipos</td>
    <td><%= @remuneration.advance_payment_discount %></td>
  </tr>
  <tr>
    <td>Asginación de Movilización</td>
    <td><%= @remuneration.transportation_allowance %></td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <th>Total No Imponible</th>
    <td><%= @remuneration.non_tax_base %></td>
    <th>Total Otros Descuentos </th>
    <td><%= @remuneration.total_other_discount %></td>
  </tr>
</table>

<p>
  <strong>Total Haberes:</strong>
  <%= @remuneration.total_asset %>
</p>

<p>
  <strong>Total Descuentos:</strong>
  <%= @remuneration.total_discount %>
</p>

<p>
  <strong>Sueldo Líquido::</strong>
  <%= @remuneration.net_pay %>
</p>
