<%= form_with(model: company, url: client_company_path(company.client, company)) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :taxpayer_id_company %>
    <%= form.text_field :taxpayer_id_company, id: :company_taxpayer_id_company %>
  </div>

  <div class="field">
    <%= form.label :business_name %>
    <%= form.text_field :business_name, id: :company_business_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
