<% content_for :sidebar do %>
      <%= render 'layouts/sidebars/sidebar_show_company' %>
 <% end %>

<p id="notice"><%= notice %></p>

<p>
  <h1><%= @company.business_name %></h1>
</p>

<p>
  <strong>Rut:</strong>
  <%= @company.taxpayer_id_company %>
</p>

<br>

<h2>Trabajadores</h2>
<br>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @company.workers.each do |worker| %>
      <tr>
        <td><%= worker.rut %></td>
        <td><%= worker.first_name %> <%= worker.last_name1 %> <%= worker.last_name2 %></td>
        <td><%= link_to 'Mostrar', company_worker_path(worker.company, worker) %>
        <%= link_to 'Editar', edit_company_worker_path(worker.company, worker) %>
        <%= link_to 'Borrar', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
