<%= form_with(model: worker, url: company_worker_path(params[:company_id], worker)) do |form| %>
  <% if worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
        <% worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br>
<table class="table">
  <tr>
    <th><h5>Datos Personales</h5></th>
    <th><h5>Información de contacto</h5></th>
  </tr>
  <tr>
    <td><strong>Rut:</strong> <%= form.text_field :rut, id: :worker_rut %></td>
    <td><strong>Email:</strong> <%= form.text_field :email, id: :worker_email %></td>
  </tr>
  <tr>
    <td><strong>Primer nombre:</strong> <%= form.text_field :first_name, id: :worker_first_name %></td>
    <td><strong>Phone:</strong> <%= form.text_field :phone, id: :worker_phone %></td>
  </tr>

  <tr>
    <td><strong>Segundo nombre:</strong> <%= form.text_field :middle_name, id: :worker_middle_name %></td>
    <td><strong>Región:</strong> <%= form.select :address_region, ['Metropolitana de Santiago', 'XV de Arica y Parinacota', 'I de Tarapacá', 'II de Antofagasta', 'III de Atacama', 'IV de Coquimbo', 'V de Valparaíso', "VI del Libertador General Bernardo O'Higgins", 'VII del Maule', 'VII del Bío Bío', 'IX de la Araucanía', 'XIV de los Ríos', 'X de los Lagos', '	XI Aisén del General Carlos Ibáñez del Campo', 'XII de Magallanes y Antártica Chilena'], id: :worker_address_region %></td>
  </tr>
  <tr>
    <td><strong>Primer apellido:</strong> <%= form.text_field :last_name1, id: :worker_last_name1 %></td>
    <td><strong>Ciudad:</strong> <%= form.text_field :address_apartment, id: :worker_address_apartment %></td>
  </tr>
  <tr>
    <td><strong>Segundo apellido:</strong> <%= form.text_field :last_name2, id: :worker_last_name2 %></td>
    <td><strong>Calle:</strong> <%= form.text_field :address_street, id: :worker_address_street %></td>
  </tr>
<tr>
  <td><strong>Fechas de nacimiento:</strong> <%= form.date_field :birthdate, id: :worker_birthdate %></td>
  <td><strong>Número dirección:</strong> <%= form.text_field :address_number, id: :worker_address_number %></td>
</tr>
<tr>
  <td>
    <strong>Género:</strong> <%= form.select :gender, ['Masculino', 'Femenino'], id: :worker_gender %></td>
    <td><strong>N° casa o depto:</strong> <%= form.text_field :address_apartment, id: :worker_address_apartment %></td>
</tr>
  </table>


   <br>
    <h3>Sueldo Base Trabajador</h3>
    <%= form.fields_for :base_salary, worker.base_salary do |of| %>

      <div class="field">
        <%= of.label :Sueldo_base %>
        <%= of.number_field :amount %>
      </div>
    <% end %>

    <br>
    <h3>Plan de Salud Trabajador</h3>

    <%= form.fields_for :health_plan, worker.health_plan do |of| %>

      <div class="field">
        <%= of.label :Nombre_institución %>
        <%= of.text_field :name %>
      </div>

      <div class="field">
        <%= of.label :Descuento %>
        <%= of.text_field :deduction, autocomplete: "address" %>
      </div>

    <% end %>

      <br>
      <h3>AFP Trabajador</h3>

      <%= form.fields_for :pension_fund, worker.pension_fund do |of| %>
        <div class="field">

          <%= of.label :Nombre_AFP %>
          <%= of.text_field :name %>
        </div>

        <div class="field">
          <%= of.label :Descuento %>
          <%= of.text_field :deduction, autocomplete: "address" %>
        </div>

      <% end %>

      <div class="actions">
        <%= form.submit %>
      </div>


  <br>
  <br>
<% end %>
