<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @worker.rut %>
</p>

<p>
  <strong>First name:</strong>
  <%= @worker.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @worker.middle_name %>
</p>

<p>
  <strong>Last name1:</strong>
  <%= @worker.last_name1 %>
</p>

<p>
  <strong>Last name2:</strong>
  <%= @worker.last_name2 %>
</p>

<p>
  <strong>Bithdate:</strong>
  <%= @worker.bithdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @worker.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @worker.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @worker.phone %>
</p>

<p>
  <strong>Address region:</strong>
  <%= @worker.address_region %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @worker.address_city %>
</p>

<p>
  <strong>Address street:</strong>
  <%= @worker.address_street %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @worker.address_number %>
</p>

<p>
  <strong>Address apartment:</strong>
  <%= @worker.address_apartment %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
