<% content_for :sidebar do %>
      <%= render 'layouts/sidebars/sidebar_show_worker' %>
 <% end %>

<p id="notice"><%= notice %></p>

<h1>Datos Trabajador</h1>

<br>
<table class="table">
  <tr>
    <th><h5>Datos Personales</h5></th>
    <th><h5>Información de contacto</h5></th>
  </tr>
  <tr>
    <td><strong>Rut:</strong> <%= @worker.rut %></td>
    <td><strong>Email:</strong> <%= @worker.email %></td>
  </tr>
  <tr>
    <td><strong>Primer nombre:</strong> <%= @worker.first_name %></td>
    <td><strong>Phone:</strong> <%= @worker.phone %></td>
  </tr>

  <tr>
    <td><strong>Segundo nombre:</strong> <%= @worker.middle_name %></td>
    <td><strong>Región:</strong> <%= @worker.address_region %></td>
  </tr>
  <tr>
    <td><strong>Primer apellido:</strong> <%= @worker.last_name1 %></td>
    <td><strong>Ciudad:</strong> <%= @worker.address_city %></td>
  </tr>
  <tr>
    <td><strong>Segundo apellido:</strong> <%= @worker.last_name2 %></td>
    <td><strong>Calle:</strong> <%= @worker.address_street %></td>
  </tr>
<tr>
  <td><strong>Fechas de nacimiento:</strong> <%= @worker.birthdate %></td>
  <td><strong>Número dirección:</strong> <%= @worker.address_number %></td>
</tr>
<tr>
  <td>
    <strong>Género:</strong> <%= @worker.gender %></td>
    <td><strong>N° casa o depto:</strong> <%= @worker.address_apartment %></td>
</tr>
  </table>

<br>

<h3>Cargas Familiares</h3>

<table class="table">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Name</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @worker.family_burdens.each do |family_burden| %>
      <tr>
        <td><%= family_burden.rut %></td>
        <td><%= family_burden.name %></td>
        <td><%= link_to 'Mostrar', worker_family_burden_path(family_burden.worker, family_burden) %>
        <%= link_to 'Editar', edit_worker_family_burden_path(family_burden.worker, family_burden) %>
        <%= link_to 'Borrar', worker_family_burden_path(family_burden.worker, family_burden), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
